@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>The Application is running on @Environment.MachineName</p>
    <img src="https://letsdotnet.s3.us-east-2.amazonaws.com/image1.png?X-Amz-Expires=259200&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAXHBW2VBROUG3TLZQ/20210824/us-east-2/s3/aws4_request&X-Amz-Date=20210824T170504Z&X-Amz-SignedHeaders=host&X-Amz-Signature=237f24c9cd0095a44fda2c30001bd3488e243abf59ada014613da8d7572fbab2" alt="This is the testing image">
</div>